#GameScreen{
    overflow: auto;
}
#game{
    height: 750px;
    width: 79%;
    float: right; 
    background:rgb(167, 167, 167);
    /*background: inherit;*/
}
#canvas{
    background-color: darksalmon;
    /*background: inherit;*/
    border: darkturquoise solid 2px;
}
#showProp{
    width: 20%;
    height: 490px;
    border: darkturquoise solid 1px;
    float: left;
    /*background:rgb(167, 167, 167);*/
    background: inherit;


}

.welcomePacman{
    background: inherit;
    font-family: "Century Gothic", CenturyGothic;
    color: deepskyblue;
    font-size: 75px;
    font-weight: bold;
    text-shadow: 3px 3px #00FFFF;
}

#lblScore,#lblTime,#lblButtonsU,#lblButtonsD,#lblButtonsR,#lblButtonsL,#lblMonsters,#lblBalls,#lblTimeT{
    width: 180px;
    color: aliceblue;
    background: transparent;
    border: none;
    outline: none;
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #00FF7F;
    resize: both;
}
body{
    background-image: url("BackGround/space.jpg");
    background-size: cover;

    color: #00FF7F;
    font-family: "Century Gothic", CenturyGothic;
}

.Header {
    width: 100%;
    height: 40px;
    color: #00FF7F;
    background: black;
    overflow: hidden;
    position: fixed;
    padding-top: 0px;
    padding-bottom: 0px;
    top: 0;
    text-align: center;
}

#headerImg{
    width: 30px;
    height: 30px;
}

.WelcomeIcon{
    font-size:36px;
    cursor: pointer;
}

.topnav {
    width: 100%;
    height: 60px;
    background: black;
    overflow: hidden;
    border: 4px solid black;
    position: fixed;
    margin-top: 35px;
    top: 0;
    text-align: center;
}
.topnav a {
    overflow-x: hidden;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    transition: 0.3s;
    position: relative;
    left: 35%;
}
.topnav a:hover:not(.active)  {
    color: darksalmon;
    cursor: pointer;
}

.Content{
    font-family: "Century Gothic", CenturyGothic;
    color: #00FF7F;
    margin-top: 120px;
    margin-bottom: 45px;
    padding-top: 0px;
    text-align: center;
}

.footer{
    width: 100%;
    height: 35px;
    color: #00FF7F;
    background: black;
    overflow: hidden;
    border: 4px solid black;
    position: fixed;
    bottom: 0px;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

.section{
    display: none;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
}

.PageTitle{
    font-family: "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    color: darksalmon;
    font-size: 50px;
}

.subTitle{
    font-family: "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    color: darksalmon;
    font-size: 30px;
}

.errorMsg {
    display:none;
    color:Red;
}

#Welcome{
    display: block;
}

#Register , #Login , #About , #Properties{
    display: none;
}

#MoveButtoms , #Balls , #GameTime , #Monsters , #GameScreen{
    display: none;

}

.MyForm {
    border: none;
    outline: none;
    text-align: center;
    font-size: 20px;

}

lable{
    font-weight: bold;
}

input[type=text], input[type=password], input[type=email] {
    width: 450px;
    color: aliceblue;
    background: transparent;
    border: none;
    outline: none;
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #00FF7F;
    resize: both;
}

button, input[type=submit] {
    background-color: antiquewhite;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
}

button:hover,input[type=submit]:hover {
    background-color: brown;
    opacity: 0.8;
    cursor: pointer;
}
/***************************************model dialog*********************************************/
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(248, 141, 243); /* Fallback color */
    background-color: rgba(196, 167, 167, 0.575); /* Black w/ opacity */
    opacity:0.9;
    padding-top: 60px; 
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    padding: 0;
    width: 80%; /* Could be more or less, depending on screen size */
    position: relative;
    margin: 0 auto;
    top: 25%;
  }
  .modal-body ,.modal-footer, .modal-header {
      color:rgb(248, 141, 243) ;
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: rgb(196, 226, 23);
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  } 
  #next {
    visibility:hidden;
}
/***************************************Color picker*********************************************/
input[type=range]{
    margin-top: 5px;
    width: 25%;
    margin-left: 10px;
    margin-right: 10px;
}
.displayColor{
    height: 100px;
    width: 25%;
    margin-left: 38%;
    border: aliceblue solid 1px;
}
.lablball{
    font-size: 25px;
    color: darksalmon;
}
/******************************Add By Inch*********************************************************/
#button{
    text-align: left;
}

#lblButtonsU , #lblButtonsD , #lblButtonsR , #lblButtonsL{
    width: 100px;
}