/**********************General*********************************/
body{
    background-image: url("BackGround/space.jpg");
    background-size: cover;

    color: #00FF7F;
    font-family: "Century Gothic", CenturyGothic;
}
.Header {
    width: 100%;
    height: 40px;
    color: #00FF7F;
    background: black;
    overflow: hidden;
    position: fixed;
    padding-top: 0px;
    padding-bottom: 0px;
    top: 0;
    text-align: center;
}
#headerImg{
    width: 30px;
    height: 30px;
}
.topnav {
    width: 100%;
    height: 60px;
    background: black;
    overflow: hidden;
    border: 4px solid black;
    position: fixed;
    margin-top: 35px;
    top: 0;
    text-align: center;
}
.topnav a {
    overflow-x: hidden;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    display: block;
    transition: 0.3s;
    position: relative;
    left: 35%;
}
.topnav a:hover:not(.active)  {
    color: darksalmon;
    cursor: pointer;
}
.Content{
    font-family: "Century Gothic", CenturyGothic;
    color: #00FF7F;
    margin-top: 120px;
    margin-bottom: 45px;
    padding-top: 0px;
    text-align: center;
}
.footer{
    width: 100%;
    height: 35px;
    color: #00FF7F;
    background: black;
    overflow: hidden;
    border: 4px solid black;
    position: fixed;
    bottom: 0px;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

.section{
    display: none;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
}
.PageTitle{
    font-family: "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    color: darksalmon;
    font-size: 50px;
}
.subTitle{
    font-family: "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    color: darksalmon;
    font-size: 30px;
}
.errorMsg {
    display:none;
    color:Red;
}
#Register , #Login , #About , #Properties{
    display: none;
}
.error {
    color: #F00;
    /* background-color: #FFF; */
  }
#MoveButtoms , #Balls , #GameTime , #Monsters, #GameScreen {
    display: none;

}

.MyForm {
    border: none;
    outline: none;
    text-align: center;
    font-size: 20px;

}
lable{
    font-weight: bold;
}
input[type=text], input[type=password], input[type=email] {
    width: 300px;
    color: aliceblue;
    background: transparent;
    border: none;
    outline: none;
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #00FF7F;
    resize: both;
}
button, input[type=submit] ,input[type=button]{
    background-color: antiquewhite;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
}
button:hover,input[type=submit]:hover {
    background-color: brown;
    opacity: 0.8;
    cursor: pointer;
}
#nextInvisible{
    visibility: hidden;
}
/**********************Color Picker*********************************/
input[type=range]{
    margin-top: 5px;
    width: 25%;
    margin-left: 10px;
    margin-right: 10px;
}
.displayColor{
    height: 100px;
    width: 25%;
    margin-left: 38%;
    border: aliceblue solid 1px;
}
.lablball{
    font-size: 25px;
    color: darksalmon;
}
table{
    background: inherit;
    height: 85%;
    width: 100%;
}
#clr1{
    height: 80%;
    width: 30%;
}
#clr2{
    height: 80%;
    width: 30%;
}
#clr3{
    height: 80%;
    width: 30%;
}
/**********************Game Screen*********************************/
#GameScreen{
    overflow: auto;
}
#GameRunTimeProp{
    width: 79%;
    float: right;
    text-align: center;
    background: inherit;
}
#game{
    height: 100%;
    width: 75%;
    float: right; 
    background: inherit;
}
#canvas{
    background: inherit;
    border: #00FF7F solid 2px;
}
#showProp{
    width: 24%;
    height: 100%;
    float: left;
    background: inherit;
    font-size: 15px;
    font-weight: bold;
}
.propertiesLables{
    text-align: left;
}
#button{
    text-align: left;
}
#lblButtonsU , #lblButtonsD , #lblButtonsR , #lblButtonsL{
    width: 100px;
}
#lblMonsters{
    width: 20px;
    color: aliceblue;
    background: transparent;
    border: none;
    outline: none;
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #00FF7F;
    resize: both;
}
#lblScore,#lblLives,#lblTime{
    width: 80px;
    color:darksalmon;
    background: transparent;
    border: none;
    outline: none;
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #00FF7F;
    resize: both;
    font-size: 20px;
    font-weight: bold;
}
#lblButtonsU,#lblButtonsD,#lblButtonsR,#lblButtonsL,#lblBalls,#lblTimeT{
    width: 80px;
    color: aliceblue;
    background: transparent;
    border: none;
    outline: none;
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #00FF7F;
    resize: both;
}
#smallBTN{
    width: 23%;
}
/**********************Welcome Page*********************************/
.welcomePacman{
    background: inherit;
    font-family: "Century Gothic", CenturyGothic;
    color: deepskyblue;
    font-weight: bold;
    font-size: 75px;
    text-shadow: 3px 3px #00FFFF;
    margin-top: 2px;
    
}

#LoginBT , #RegisterBT{
    cursor: pointer;
    font-size: 110px;
}

#side1{
    float: left;
    text-align: center;
    width: 45%;
    height: 200px;
    padding-top: 0;
    padding-bottom: 0;
}
#side2{
    float: right;
    text-align: center;
    width: 45%;
    height: 200px;
    padding-top: 0;
    padding-bottom: 0;
}
.WelcomeIcon{
    width: 60%;
    height: 200px;
    padding-top: 0;
    padding-bottom: 0;
}
#Welcome{
    display: block;
    padding: 2px;
}
/**********************Model Dialog*********************************/
.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(248, 141, 243);
    background-color: rgba(196, 167, 167, 0.575); 
    opacity:0.9;
    padding-top: 0px; 
}
.modal-content {
    background-image: url("modalImage/modalImage2.jpeg") ;
    background-color: #fefefe;
    border: 1px solid #888;
    color: white;
    padding: 0;
    width: 80%;
    position: relative;
    margin: 0 auto;
    top: 25%;
}
h1 span { 
    background-color: gb(0, 0, 0); 
}
h2 span { 
    background-color: rgb(0, 0, 0); 
}
h3 span { 
    background-color:rgb(0, 0, 0);  
}
p span{
    background-color: rgb(0, 0, 0);  
}
#gameOverDialog , #TimeOverDialog{
    background-image: url("modalImage/looser.jpg") ;
    background-size: cover;
}
.modal-footer{
    bottom: 0px;
}
.modal-contentWin {
    background-image: url("modalImage/winner.gif") ;
    background-size: cover ;
    color: #000;
    border: 1px solid #888;
    padding: 0;
    width: 50%;
    height: 50%;
    position: relative;
    margin: 0 auto;
    font-size: 20px;
    top: 25%;
}
.modal-contentLoose {
    background-color: black;
    border: 1px solid #888;
    padding: 0;
    color: white;
    width: 60%;
    position: relative;
    margin: 0 auto;
    top: 15%;
    font-size: 20px;
}
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: rgb(196, 226, 23);
    font-size: 35px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: red;
    cursor: pointer;
} 
#next {
    visibility:hidden;
}
.tooltip {
    position: relative;
    display: inline-block;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 450px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
